<div class="row">
  <h1>Galleries</h1>
</div>

<div class="input-group col-md-5 pl-0 my-lg-4 my-2">
  <form #searchForm="ngForm" (ngSubmit)="search(term)" class="form-inline mt-2 mt-md-0">
    <input [(ngModel)]="term" class="form-control mr-sm-2" type="text" required name="term">
    <button class="btn btn-outline-danger my-2 my-sm-0"  type="submit">Search</button>         
  </form>   
</div>

<div class="row"
  *ngFor="let gallery of galleries"
  [galleryRow]="gallery">
</div>

<!-- <div class="jumbotron" *ngFor="let gallery of galleries">
  <div class="col-sm-5 mx-auto">
    <h2>{{ gallery.name }}</h2>
    <p>{{ gallery.description }}</p>
    <img src="{{gallery.imageUrl[0].image_url}}" alt="{{ gallery.imageUrl }}" height="200" width="300">
    
  </div>
</div> -->

<button class="btn btn-primary" type="button" (click)="nextPage()" [disabled]="!galleryService.noMorePage()">Load more</button>
