<div class="row">
  <h1>Galleries</h1>
</div>

<div class="input-group col-md-5 pl-0 my-lg-4 my-2">
  <span class="input-group-addon">Filter By name</span>
  <input [(ngModel)]="filter" type="text" class="form-control"/>
</div>

<div class="row"
  *ngFor="let gallery of galleries"
  [galleryRow]="gallery">

</div>

<!-- <div class="jumbotron" *ngFor="let gallery of galleries">
  <div class="col-sm-5 mx-auto">
    <h2>{{ gallery.name }}</h2>
    <p>{{ gallery.description }}</p>
    <img src="{{gallery.imageUrl[0].image_url}}" alt="{{ gallery.imageUrl }}" height="200" width="300">
    
  </div>
</div> -->

<button class="btn btn-primary" (click)="load()">Load more</button>
