<div class="container marketing">        
    
    <div *ngIf="gallery" class="row">
        <div class="col-lg-12 middle">
           <a routerLink="{{ gallery.id }}"> <h2>{{ gallery.name }}</h2></a>
           <a routerLink="{{ gallery.id }}"><img  src="{{ gallery.imagesUrl[0].image_url }}" alt="{{ gallery.name }}" width="300" height="200"></a><br/><br/>
            
            <h3>Description:</h3>
            <p>{{ gallery.description }}</p>
            <p><a class="btn btn-secondary"  [routerLink]="['/gallery', gallery.id]" role="button">View details &raquo;</a></p><hr/>
        </div>
    
</div>